%article
  %a.btn#blue{ href: "#" }
    &nbsp;
  %a.btn#green{ href: "#" }
    &nbsp;
  %a.btn#red{ href: "#" }
    &nbsp;
  %a.btn#yellow{ href: "#" }
    &nbsp;
  %a.btn-round#black{ href: "#" }
    &nbsp;
  %a.btn-round#white{ href: "#" }
    &nbsp;
